body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    direction: rtl;
    font-family: Arial, sans-serif;
}
#map {
    height: 100vh;
    width: 100vw;
}
.menu-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #333;
    color: white;
    border: none;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    z-index: 1000;
    transition: opacity 0.3s;
}
.menu {
    position: fixed;
    top: 0;
    right: -270px; /* مقدار را کمی بیشتر از عرض منو تنظیم می‌کنیم تا بیرون نزند */
    width: 250px;
    height: 100%;
    background: #fff;
    box-shadow: -2px 0 5px rgba(0,0,0,0.2);
    transition: right 0.3s;
    z-index: 999;
    overflow-y: auto;
    border-radius: 10px 0 0 10px;
}

.menu.active {
    right: 0;
}

.menu-content {
    padding: 20px; /* این padding به جای menu اصلی داده شده */
}

.menu-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
    color: #333;
}

.filter-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.filter-options label {
    display: flex;
    align-items: center;
    background: #f8f8f8;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.filter-options label:hover {
    background: #e0e0e0;
}

.filter-options input {
    margin-left: 10px;
    cursor: pointer;
}

.close-button {
    background: red;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 5px;
}

#locateBtn {
    position: absolute;
    top: 80px;
    left: 10px;
    z-index: 1000;
    padding: 5px 10px;
    background: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#locateBtn:hover {
    background: #45a049;
}